{% extends 'main/base.html' %}

{% block content %}
<h1 class="text-white">Publicaciones</h1>
<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ post.image.url }}" class="card-img-top" alt="Imagen del post">
            <div class="card-body bg-brown">
                <p class="card-text text-white">{{ post.description }}</p>
                <a href="{% url 'post_detail' post.id %}" class="btn btn-light">Ver más</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
